<a href="https://colab.research.google.com/github/YounSooKimTech/Greg_Python/blob/main/Comments_and_smf_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Joy likes coffee

SyntaxError: ignored

Joy likes coffee

# Joy's adventure to coffee
## Chapter 1
### Joy likes coffee

In [ ]:
# Joy likes coffee
# I tried almond milk latte today.
# It tastes great

'''
Joy likes coffee
I tried almond milk latte today.
It tastes great
'''

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/YounSooKimTech/Greg_Python/main/Data/GSS.2006.csv")
df.head()

,vpsu,vstrat,adults,ballot,dateintv,famgen,form,formwt,gender1,hompop,...,away7,gender14,old14,relate14,relhh14,relhhd14,relsp14,where12,where6,where7
0,1,1957,1,3,316,2,1,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1957,2,2,630,1,2,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1957,2,2,314,2,1,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1957,1,1,313,1,2,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1957,3,1,322,2,2,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

# 4) IF WORKING, FULL OR PART TIME: How many hours did you work last week, at all jobs? (HRS1)
# 17) IF SPOUSE WORKING, FULL- OR PART-TIME: How many hours did (he/she work last week, at all jobs? (SPHRS1)

lm = smf.ols(formula = 'hrs1~sphrs1', data = df).fit()
print (lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   hrs1   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.002
Date:                Tue, 01 Nov 2022   Prob (F-statistic):              0.157
Time:                        01:46:41   Log-Likelihood:                -4129.5
No. Observations:                1013   AIC:                             8263.
Df Residuals:                    1011   BIC:                             8273.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     40.5629      1.448     28.021      0.000      37.722      43.403
sphrs1         0.0466      0.033      1.415      0.157      -0.018       0.111
==============================================================================
Omnibus:                       24.643   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               51.988
Skew:                           0.037   Prob(JB):                     5.14e-12
Kurtosis:                       4.107   Cond. No.                         142.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.