In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/YounSooKimTech/Greg_Python/main/Data/GSS.2006.csv")
df.head()

,vpsu,vstrat,adults,ballot,dateintv,famgen,form,formwt,gender1,hompop,...,away7,gender14,old14,relate14,relhh14,relhhd14,relsp14,where12,where6,where7
0,1,1957,1,3,316,2,1,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1957,2,2,630,1,2,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1957,2,2,314,2,1,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1957,1,1,313,1,2,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1957,3,1,322,2,2,1,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df[["socfrend", "big5a2"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4510 entries, 0 to 4509
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   socfrend  1989 non-null   float64
 1   big5a2    1516 non-null   float64
dtypes: float64(2)
memory usage: 70.6 KB

In [7]:
conditions = [df["big5a2"]<3, df["big5a2"]>=3]
choices = [0,1]
df["sociable"] = np.select(conditions, choices)

df.head()

pd.crosstab(df["big5a2"], df["sociable"])

sociable    0    1
big5a2
1.0       467    0
2.0       707    0
3.0         0  178
4.0         0  150
5.0         0   14

In [8]:
conditions = [df["socfrend"]>=5, df["socfrend"]<5]
choices = [0,1]
df["high"] = np.select(conditions, choices)

df.head()

pd.crosstab(df["socfrend"], df["high"])

high        0    1
socfrend
1.0         0   64
2.0         0  390
3.0         0  370
4.0         0  462
5.0       343    0
6.0       155    0
7.0       205    0