In [1]:
import pandas as pd
import numpy as np

In [35]:
month = ["1990/08", "1990/10", "1990/10", "1990/10"]
CommunityDistrict = [3,3,2,7]

df = pd.DataFrame({"Month":month, "CommunityDistrict":CommunityDistrict})
df.head()

     Month  CommunityDistrict
0  1990/08                  3
1  1990/10                  3
2  1990/10                  2
3  1990/10                  7

In [36]:
df['year'] = pd.DatetimeIndex(df['Month']).year

In [37]:
df['month'] = pd.DatetimeIndex(df['Month']).year

In [38]:
df.head()

     Month  CommunityDistrict  year  month
0  1990/08                  3  1990   1990
1  1990/10                  3  1990   1990
2  1990/10                  2  1990   1990
3  1990/10                  7  1990   1990